<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
      type="image/png" 
      size="16x16"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/263/doughnut_1f369.png">
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>Sprinkles</title>
</head>
<body style="padding: 20px;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="/">
            <img src="https://i.imgur.com/IquhhWY.png" style="width: 400px; height:auto;">
          </a>
        </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                  <p class='subtitle is-4' style="margin-right: 20px;">Signed in as admin user <%= user.name %></p>
                <a class="button is-danger is-large" href="/signup"> 
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light is-large" href='/logout'>
                  Log out
                </a>
              </div>
            </div>
          </div>
      </nav>
   
    
    <div style="display: flex; padding:10px; width:fit-content; margin:0 auto;">
        <a href='/dashboard' class="button is-success" style="margin:20px;">Add Product</a>
        <a href='/dashboard/viewproducts' class="button is-success" style="margin:20px;" >View Products</a>
        <a href='/dashboard/viewusers' class="button is-light" style="margin:20px;" disabled>View Users</a>
        <a href='/dashboard/vieworders' class="button is-success" style="margin:20px;">View Orders</a>
    </div>
    
    <ul style="list-style-type: none; width:fit-content; margin-left:auto; margin-right:auto">
        <% if(typeof(errors) != 'undefined') { %>
            <% errors.forEach(error=>{ %>
                <li> <%= error.message %></li>
            <% }) %>
        <% } %>
    </ul>

    <ul style="list-style-type: none; width:fit-content; margin-left:auto; margin-right:auto">
        <% if(messages.success_message) { %>
          <li><%= messages.success_message %></li>
        <% } %>
    </ul>
    <br>
    <div id='productcards' style='display:flex; flex-wrap:wrap; padding:20px;'>
        <% if(users.length != 0) { %> 
          <% users.forEach(item=>{ %>
              <div class="deliverycard" style="border:2px; border-style:solid; border-radius:5px; margin:20px auto; width:45%; padding:20px; display:flex;">
                <div style="margin: 20px;">
                    <p class="subtitle is-3" style="margin-bottom: 5px; color:#000">Name: <%= item.name %></p>
                    <p class="subtitle is-5" style="margin-bottom:3px; color:#333;">Email : <%= item.email %> </p>
                    <p class="subtitle is-5" style="margin-bottom:3px; color:#333;">Address : <%= item.address %></p>
                </div>
                <div style="margin: 20px;">
                    <% if(item.type == 1) { %>
                        <p class="subtitle is-5" style="margin-bottom:3px; color:#333;">Account Type : Customer </p>
                    <% } else if(item.type == 2){ %>
                        <p class="subtitle is-5" style="margin-bottom:3px; color:#333;">Account Type : Delivery </p>
                    <% } else if(item.type == 3) { %>
                        <p class="subtitle is-5" style="margin-bottom:3px; color:#333;">Account Type : Admin </p>
                    <% } %>
                    <form action="/dashboard/viewusers/updateuser" method="POST">
                        <select name="newType" id="newType" style="font-size: x-large; width:325px; padding:10px; margin:5px;" required>
                            <option selected disabled>Change user account type</option>
                              <option value="1">Customer</option>
                              <option value="2">Delivery</option>
                              <option value="3">Root</option>
                          </select> <br> 
                        <button class="button is-warning" type="submit" value='register' style="padding: 10px; font-size:larger; margin-top:10px;">Update User</button>
                        <input type="text" style="display: none;" name="userid" value="<%= item.id  %> ">
                    </form>
                </div>
                
              </div>
          <% }) %> 
        <%} else { %>
            <p class="subtitle is-2" style="margin-left:30px ;">There are no unclaimed orders near your location!</p>
        <% } %>
    </div>

    <br>
    
</body>
</html>