<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" 
      type="image/png" 
      size="16x16"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/263/doughnut_1f369.png">
    <title>Sprinkles</title>
  </head>
  <body style="padding:20px;">
    
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="/">
          <img src="https://i.imgur.com/IquhhWY.png" style="width: 400px; height:auto;">
        </a>
  
      </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger is-large" href="/dashboard/orders"> 
                <strong>Your Orders</strong>
              </a>
              <a class="button is-light is-large" href='/logout'>
                Log out
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <h1 class="subtitle is-3" style="margin-left: 50px; margin-top:20px; margin-bottom:0px;">Hello <%= user %>! Here are the currently available items <br> Click on a card to see more info</h1>
    <br>
    <ul style="list-style-type: none; margin-left:50px;">
      <% if(messages.success_message) { %>
        <li><%= messages.success_message %></li>
      <% } %>
    </ul>
    <br>
    <div id='productcards' style='display: flex; padding:20px;'>
        <% if(typeof(data) != 'undefined') { %> 
          <% data.forEach(item=>{ %>
            <a id='<%= item.id %>'  href="">
              <div   class="card" style="border:2px; border-style:solid; border-radius:5px; margin:10px; width:250px; padding:20px;">
                <img src="https://cdn.sallysbakingaddiction.com/wp-content/uploads/2012/08/warm-chocolate-chip-cookies.jpg" alt="cookies" width='230px' height='40px'>
                <p class="subtitle is-4" style="margin-bottom: 5px; color:#000"><%= item.name %></p>
                <p class="subtitle is-5" style="margin-bottom:3px; color:#333;"><%= item.category %></p>
                <p class="subtitle is-4"> <%= item.price %> ₹ </p>
              </div>
            </a>
          <% }) %> 
        <% } %>
    </div>


    <script>
      const products = [document.getElementById('productcards').children]
      //console.log(products)
      products.forEach(item=>{
        var it = Array.from(item)
        it.forEach(i=>{
          i.href = `dashboard/products/${i.id}`
        })
      })
    </script>
  </body>
</html>
